* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #FC575E 0%, #90D5EC 100%);
    overflow: hidden;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
}

.bubble {
    width: 100%;
    height: 90%;
    background: radial-gradient(circle at 75% 30%,#ffff 5px,#ff21c0 8%,#5b5b5b 60%,#ff21c0 100%);
    border-radius: 50%;
    box-shadow: inset 0 0 20px #ffff, inset 10px 0 46px #eaf5fc, inset 80px 0 60px #efcde6, inset -20px -60px 100px #e3eeff, inset 0 50px 140px #e3eeff, 0 0 90px #ffff;
    animation: bubble 4s ease-in-out infinite;
}

p {
    color: #36096D;
    position: absolute;top: 67px;left: 28px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.15);
    width: 150px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: -100px;
    filter: blur(1px);
    animation: shadow 4s ease-in-out infinite;
}

@keyframes bubble {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-80px);
    }
}

@keyframes shadow {
    0%,100% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.5);
    }
}

#game {
    color: black;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}